.container {
  height: 40vh;
}

.paralaxText {
  position: absolute;
  inset-block: 0;
  display: grid;
  place-content: center;
  width: fit-content;
  color: rgba(0, 0, 0, 0.1);
  font-size: 220px;
  font-weight: 700;
  z-index: 10;
}

.main {
  height: 100%;
  display: grid;
  place-content: center;
  margin-left: 25%;
  margin-right: 5%;
  font-size: 28px;
}